body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.header {
    background-color: #805CFF;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
}

.back-button {
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
    text-decoration: none;
}

.profile {
    text-align: center;
    padding: 10px;
}

.profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.plantao-date {
    width: 90%;
    margin-left: 10px;
}

.info-box input[type="number"] { 
    width: 40px; 
    padding: 8px; 
    border: 1px solid #ccc; 
    margin-top: 5px; 
}

.info {
    padding: 10px;
}

.info-box {
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 5px;  /* Corrected line */
}
.action-button {
    width: 30px;  /* Largura do botão */
    height: 30px; /* Altura do botão */
    margin-left: 10px; /* Margem esquerda para espaçar o botão */
}
